
.test-container {
  text-align: center;
  background-color: var(--background);
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}
  
.flashcard-container {
  margin-top: 30px;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-top: 20px;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

button, .flashcard-count {
  flex: 1; 
  text-align: center;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: var(--buttonBackground);
  color: var(--buttonText);
  border: 1px solid var(--border);
  border-radius: 5px;
  cursor: pointer;
}

button:disabled {
  background-color: var(--buttonDisable);
  cursor: not-allowed;
}

.flashcard-count {
  font-size: 1.2rem;
  font-weight: bold;
}
