* {
    font-size:18px;
    font-family: Gill Sans, sans-serif;
}

.Page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 90px);
    text-align: center;
    /* background-image: url("../assets/BackgroundPattern.png"); */
    /* background-image: url("../assets/Robot.png");
    background-size: cover; 
    background-position: center center; 
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; */
    background-color: var(--background);
    /* animation: scrolling-background linear 30s infinite; */
}

.Home-block{
    display:flex;
    background-color: var(--primary);
    border: 2px solid var(--border);
    border-radius: 20px;
    height: 400px;
    width: 600px;
}
.Home-content{
    margin:auto;
}

.Home-title {
    font-size: 3em;
    margin-bottom: 10px;
    color: var(--title);
}

.Home-subtitle {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: var(--subtitle);
}

.Home-tryit-button {
    padding: 12px 30px;
    font-size: 1.2em;
    border: 1px solid var(--border);
    border-radius: 5px;
    background-color: var(--buttonBackground);
    color: var(--text);
    cursor: pointer;
    margin-top: 20px;
}

.Home-tryit-button:hover {
    background-color: var(--buttonHover); 
}

/* @keyframes scrolling-background {
    0% {
        background-position:0px 0px;
    }

    100% {
        background-position: 400px 400px;
    }
} */
