.Page-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    min-height: calc(100vh - 90px); 
    text-align: center; 
    background-color: rgb(235, 235, 235);
}

.Home-title {
    font-size: 3em;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
    font-family: Noto Sans, sans-serif;
}

.Home-subtitle {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: rgb(85, 85, 85);
    font-family: Gill Sans, sans-serif;
}

.Home-tryit-button {
    padding: 12px 30px;
    font-size: 1.2em;
    border: 1px solid rgb(76, 76, 76);
    border-radius: 5px;
    background-color: #d5d5d5;
    color: rgb(56, 56, 56);
    cursor: pointer;
    margin-top: 20px;
}

.Home-tryit-button:hover {
    background-color: #7b7b7b; 
}