* {
    font-size:18px;
    font-family: Gill Sans, sans-serif;
}

.Page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 90px);
    text-align: center;
    background-image: url("../assets/BackgroundPattern.png");
}

.Home-block{
    display:flex;
    background-color: white;
    border-radius: 20px;
    height: 400px;
    width: 600px;
}
.Home-content{
    margin:auto;
}

.Home-title {
    font-size: 3em;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
}

.Home-subtitle {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: rgb(85, 85, 85);
}

.Home-tryit-button {
    padding: 12px 30px;
    font-size: 1.2em;
    border: 1px solid rgb(76, 76, 76);
    border-radius: 5px;
    background-color: #d5d5d5;
    color: rgb(56, 56, 56);
    cursor: pointer;
    margin-top: 20px;
    animation: shake 5s ease-in-out infinite;
}

.Home-tryit-button:hover {
    background-color: #7b7b7b; 
}

@keyframes shake {
    0% { transform: rotate(0deg); } 
    10% { transform: rotate(-15deg); } 
    20% { transform: rotate(15deg); } 
    30% { transform: rotate(-15deg); } 
    40% { transform: rotate(0deg); } 
    100% { transform: rotate(0deg); } 
}
