.Page-container-Main {
    min-height: 100vh;
    background: linear-gradient(
        to bottom,
        var(--background2) 0px,
        var(--background2) 350px,
        var(--background) 450px,
        var(--background) 80%,
        white 100%
    );
}

.Page-container-Main h2 {
  font-family: "DM Sans", sans-serif;
  font-weight: bolder;
  color: #075E85;

}
.Page-container-Main div {
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
}

.Upload-page {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.NewUploadContainer {
    width: 105%;
    margin-left: -2.5%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

h2 {
    font-size: 2rem;
    text-align: left;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.searchBox {
    border-radius: 5px;
    border: 1px solid var(--buttonBackground);
    padding: 8px;   
    color: var(--buttonBackground);
    outline: none;
    transition: transform 0.2s ease;
}

.searchBox:hover {
    transform: scale(1.1);
}

.searchBox:focus {
    border-color: var(--primary);
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
}

.RecentUploadContainer {
    display: grid; 
    gap: 50px; 
    width: 100%;
    justify-items: start; 
    align-items: start; 
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin-bottom: 40px;
}

.RecentUploadContainerHZ {
    display: grid; 
    gap: 20px; 
    width: 100%;
    justify-items: start; 
    align-items: start; 
    flex-direction: column;
    margin-bottom: 40px;
}

.SeparateByTime {
    display: grid; 
    gap: 20px; 
    width: 100%;
    justify-items: start; 
    align-items: start; 
    flex-direction: column;
    margin-bottom: 10px;
}

.FilterButton {
    transition: transform 0.2s ease;
}

.FilterButton:hover {
  transform: scale(1.1);
}

hr.divider {
    border: 0;
    border-top: 1px solid #ddd; 
    margin: 5px 0; 
}

.RecentUploadFilter{
    margin-bottom: 10px;
}