.Page-container-Main {
    min-height: 100vh;
    background: linear-gradient(
        to bottom,
        var(--background2) 0px,
        var(--background2) 350px,
        var(--background) 450px,
        var(--background) 80%,
        white 100%
    );
}

.Upload-page {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.NewUploadContainer {
    width: 105%;
    margin-left: -2.5%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

h2 {
    font-size: 2rem;
    text-align: left;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.searchBox {
    border-radius: 5px;
    border: 1px solid var(--buttonBackground);
    padding: 8px;   
    color: var(--buttonBackground);
    outline: none;
}

.searchBox:focus {
    border-color: var(--primary);
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25); 
}

.RecentUploadContainer {
    display: grid; 
    gap: 20px; 
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-items: start; 
    align-items: start; 
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    margin-bottom: 40px;
}

hr.divider {
    border: 0;
    border-top: 1px solid #ddd; 
    margin: 15px 0; 
}