.Upload-New {
    display: flex;
    align-items: center;
    width: 75%;
    height: 200px; 
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    background-color: #f9f9f9;
    padding: 15px;
    gap: 20px; 
    margin-bottom: 15px;
    animation: slideIn 1s ease-out;
}

.UploadImage-New {
    width: 150px;
    height: 150px;
    object-fit: cover; 
    border-radius: 10px;
    background-color: #ddd; 
}

.UploadContent-New {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.UploadTitle-New {
    font-size: 24px;
    color : black;
}

.UploadSubtitle-New {
    font-size: 1rem;
    color : gray;
}

.Upload-button {
    padding: 8px 12px;
    border: none;
    background-color: #393939;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    width: auto;
}

.Upload-button:hover {
    background-color: #939393;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%); 
    }
    to {
        transform: translateX(0); 
    }
}
