.Upload-Recent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 300px; 
    height: 500px; 
    cursor: pointer;
    border: 1px solid var(--border);
    border-radius: 5px;
    padding: 15px;
    gap: 20px; 
    background-color: var(--primary);
}

.UploadImage-Recent {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.UploadContent-Recent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.UploadTitle-Recent {
    font-size: 24px;
    color : var(--title);
}

.UploadSubtitle-Recent {
    font-size: 1rem;
    color : var(--subtitle);
}

.Button-RecentUpload {
    border: none;
    background-color: var(--buttonBackground);
    color: var(--buttonText);
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    margin-right: auto;
    margin-left: auto;
    height: 40px;
    margin-top: 50px;
}

.Button-RecentUpload:hover {
    background-color: var(--buttonHover);
}

.Button-RecentUpload {
  transition: transform 0.1s ease;
}

.Button-RecentUpload:active {
  transform: scale(0.95);
}
