.Upload-Recent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 300px; 
    height: 500px; 
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    background-color: #f9f9f9;
    padding: 15px;
    gap: 20px; 
    margin-bottom: 15px;
}

.UploadImage-Recent {
    width: 150px;
    height: 150px;
    object-fit: cover; 
    border-radius: 10px;
    background-color: #ddd; 
}

.UploadContent-Recent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.UploadTitle-Recent {
    font-size: 24px;
    color : black;
}

.UploadSubtitle-Recent {
    font-size: 1rem;
    color : gray
}

.Button-RecentUpload {
    padding: 8px 12px;
    border: none;
    background-color: #000000;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    width: auto;
    height: 40px;
    display: inline-block;
}

.Button-RecentUpload:hover {
    background-color: #a4a4a4;
}
