label {
	display: inline-block;
	padding: 20px 0px 20px 0px;
}

input[value="Sign Up"], input[value="Verify"] {
	margin-top: 30px;
	margin-bottom: 15px;
	border-radius: 10px;
	cursor: pointer;
	background-color: var(--buttonBackground);
	color: var(--buttonText);
	padding: 8px 10px 8px 10px;
	font-size: 20pt;
}

input[value="Sign Up"]:Hover, input[value="Verify"]:hover {
	background: var(--buttonHover);
}

.AccountPage-Main {
	height: 100vh;
	background: linear-gradient(
        to bottom,
        var(--background) 0%,
        var(--background2) 50%,
        var(--background) 90%,
        white 100%
    );
	overflow: hidden;
    display: flex;
    flex-direction: column;
}

.Page-container {
	flex: 1;
	display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.Form-block {
	height: 90%;
	margin-top: auto;
	margin-bottom: auto;
	background-color: var(--primary);
	border: 1px solid var(--border);
	display: flex;
	flex-direction: row;
	padding: 1px;
}