label {
	display: inline-block;
	padding: 10px 0px 10px 0px;
}

input[value="Sign Up"] {
	margin-top: 20px;
	margin-bottom: 15px;
	border-radius: 10px;
	cursor: pointer;
	background-color: var(--buttonBackground);
	color: var(--buttonText);
	padding: 8px 10px 8px 10px;
	font-size: 16px;
}

input[value="Sign Up"]:Hover {
	background: var(--buttonHover);
}

.Page-container {
	background: linear-gradient(
        to bottom,
        var(--background) 0%,
        var(--background2) 50%,
        var(--background) 90%,
        white 100%
    );
	display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 90px);
    text-align: center;
}

.Form-block {
	background-color: var(--primary);
	border: 1px solid var(--border);
}