label {
	display: inline-block;
	padding: 10px 0px 10px 0px;
}

input[value="Sign Up"] {
	margin-top: 20px;
	margin-bottom: 15px;
	border-radius: 10px;
	cursor: pointer;
	background-color: #000000;
	color: white;
	padding: 8px 10px 8px 10px;
	font-size: 16px;
}

.Page-container {
	background-color: var(--background);
	display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 90px);
    text-align: center;
}

.Form-block {
	background-color: var(--primary);
	border: 1px solid var(--border);
}